/* GENERAL STYLES */
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin: 0;
    padding: 0;
}
fieldset,img{ border: 0; }
ul { list-style: none; }
caption,th { text-align: left; }
th { font-weight: normal; }

/* body styles */
html{
    height:100%;
}
body{
    color:#666666;
    font: 62.5%/1.8  "Lucida Grande", "Trebuchet MS", Tahoma, Verdana, sans-serif; /* 1em = 10px */
    background: none repeat scroll 0 0 #F6F6F6;
}
a {
    color: #58A6F4;
    text-decoration: none;
}
a:hover{
    color:#3487DB; 
    text-decoration:underline;
}
.clear{clear:both;}

/* ------------Layout-------------- */

.header{
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    padding: 17px;
    position:relative;
    z-index:9;
}
.header .box.title h2{
    float: left;
    font-size: 24px;
    text-transform: uppercase;
}

.totalCotainer{
    background:#fff;
    border: 3px solid #ddd;
    margin: 10px auto;
    overflow: hidden;
    width: 300px;
    min-height: 400px;
    position: relative;
    font: 62.5%/1.8  "Lucida Grande", "Trebuchet MS", Tahoma, Verdana, sans-serif; /* 1em = 10px */
} 
.hashCircle{
    background: none repeat scroll 0 0 #5ECDEB;
    border-radius: 1300px 1300px 1300px 1300px;
    -webkit-border-radius: 1300px 1300px 1300px 1300px;
    -moz-border-radius: 1300px 1300px 1300px 1300px;
    display: block;
    cursor:pointer;
    position:absolute;
    bottom: 14px;
    right: 23px;
    
    transition: 1s ease-in;
    -moz-transition: 1s ease-in; /* Firefox 4 */
    -webkit-transition: 1s ease-in; /* Safari and Chrome */
    -o-transition: 1s ease-in; /* Opera */
}
.totalCotainer.active .hashCircle{
    -moz-transform:scaleX(80) scaleY(80);
    -webkit-transform:scaleX(80) scaleY(80);
    
    transition: 1s ease-in;
    -moz-transition: 1s ease-in; /* Firefox 4 */
    -webkit-transition: 1s ease-in; /* Safari and Chrome */
    -o-transition: 1s ease-in; /* Opera */
}
.hashCircle .hashCircleLabel{
    color: #FFFFFF;
    padding: 4px 11px;
    text-align: center;
    opacity:1;
    transition: 0.5s ease-in 0.3s;
    -moz-transition: 0.5s ease-in 0.3s; /* Firefox 4 */
    -webkit-transition: 0.5s ease-in 0.3s; /* Safari and Chrome */
    -o-transition: 0.5s ease-in 0.3s; /* Opera */
}
.totalCotainer.active .hashCircle .hashCircleLabel{
    opacity:0;
    transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in; /* Firefox 4 */
    -webkit-transition: 0.5s ease-in; /* Safari and Chrome */
    -o-transition: 0.5s ease-in; /* Opera */
}
.hashCircleInfo{
    -moz-transform:scaleX(0.01) scaleY(0.01);
    -webkit-transform:scaleX(0.01) scaleY(0.01) translateY(30px);
    
    transition: 1s;
    -moz-transition: 1s; /* Firefox 4 */
    -webkit-transition: 1s; /* Safari and Chrome */
    -o-transition: 1s; /* Opera */
    
    opacity:0;
    position:absolute;
    bottom: 14px;
    right: 0;
    color:#fff;
    padding: 24px;
    font-size:13px;
}
.totalCotainer.active .hashCircleInfo{
    -moz-transform:scaleX(1) scaleY(1) translateY(-190px);
    -webkit-transform:scaleX(1) scaleY(1) translateY(-190px);
    opacity:1;
    display:block;
    z-index: 6;
}
a.back{
    background: url("http://www.pedaling.com/images/go-back-icon.png") no-repeat scroll center center #ffffff;
    height: 30px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    margin:6px;
    width: 30px;
    z-index: 7;
    display:none;
}
a.back:hover{  background-position: 2px 0;}
.totalCotainer.active  a.back{display:block}
