/* GENERAL STYLES */
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin: 0;
    padding: 0;
}
fieldset,img{ border: 0; }
ul { list-style: none; }
caption,th { text-align: left; }
th { font-weight: normal; }

/* body styles */
html{
    height:100%;
}
body{
    color:#666666;
    font: 62.5%/1.8  "Lucida Grande", "Trebuchet MS", Tahoma, Verdana, sans-serif; /* 1em = 10px */
    background: none repeat scroll 0 0 #F6F6F6;
}
a {
    color: #58A6F4;
    text-decoration: none;
}
a:hover{
    color:#3487DB; 
    text-decoration:underline;
}
.clear{clear:both;}

.content{
    margin: 0 auto;
    width: 1100px;
}

.hashCircle{
    background: none repeat scroll 0 0 #5ECDEB;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    height: 200px;
    padding: 21px;
    width: 200px;
    margin: 7px;
    float:left;
    opacity:0.4;
}
.hashCircle:hover{
    opacity:1;
    transition: 0.7s;
    -moz-transition: 0.7s; /* Firefox 4 */
    -webkit-transition: 0.7s; /* Safari and Chrome */
    -o-transition: 0.7s; /* Opera */
    
-moz-transform: scaleY(1.2) scaleX(1.2) rotate(-10deg) translateX(-30px) translateY(10px);
-moz-transform-origin: 0% 0%;
}
.hashCircle:nth-child(odd):hover{
    -moz-transform: scaleY(1.2) scaleX(1.2) rotate(10deg) translateX(10px) translateY(-30px);
    
}

